.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item{
    margin: 0 8px;
    font-weight: 400;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: grey;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item-span{
    cursor: text;
    color: var(--white-color);
}

.qr-header{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
}

.qr-shopee-img{
    width: 100%;
}

.qr-header-app{
    display: flex;
}

.header__app-download{
    height: 15px;
}

.qr-app-link-ggplay{
    margin-left: 12px;
}

.qr-app-link-apple{
    margin-left: 16px;
}

.header__navbar-item--has-qr:hover .qr-header{
    display: block;
    animation: fadeIn ease 1s;
}

.header__navbar-item--has-qr::before{
    content: "";
    width:100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: 80%;
}


/* Header notifications */
.header__notify{
    position: absolute;
    width: 404px;
    top: 100%;
    right: 0;   
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    display: none;
}

.header__notify--header{
    height: 30px;
}

.header__notify--header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 300;
    line-height: 30px;
}

img.header__notify--img{
    height: 48px;
    width: 48px;
    object-fit: contain;
}

.header__notify--list{
    padding-left: 0;
}

.header__notify--item{
    display: flex;
}

.header__notify--item:hover{
    background-color: #f7f7f7;
}

.header__notify--link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify--info{
    margin-left: 12px;
}

.header__notify--name{
    display: block;
    color: var(--black-color);
    padding-bottom: 20px;
    font-weight: 400;
}

.header__notify--description{
    display:block;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: black;
}

.header__notify-footer{
    text-align: center;
    padding: 6px;
}

.header__notify--hover:hover .header__notify{
   display: block;
   box-shadow: 0 0 3px #999;
   animation: fadeIn ease 1s;
}


/* Header navbar container */

.header__navbar--container{
    display: flex;
    align-items: center;
    
}

.header__navbar--logo{
    padding: 10px 15px;
}

.header__navbar--input{
    width: 100%;
}

.header__input{
    flex: 5;
}

.header__navbar--icon{
    font-size: 25px;
    padding: 20px 80px;
    margin-right: 30px;

}

.icon-shopping-cart{
    color: #f7f7f7;
    position: relative;
}

.icon-shopping-cart-menu{
    position: absolute;
    width: 303px;
    top: 100%;
    right: 0;   
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    height: auto;
    display: none   ;
    padding: 40px;
    color: black;
}

.icon-shopping-cart:hover .icon-shopping-cart-menu{
    display: block;
    animation: fadeIn ease 1s;
}

.icon-shopping-cart-menu p{
    font-size: 16px;
}

.icon-shopping-cart-menu-img{
    margin: auto;
    display:flex;
}

.icon-shopping-cart-menu img{
    height: 100px;
    width: 100px;
}

img.header__logo--shopee {
    height: 60px;
    width: 160px;
    object-fit: cover;
    cursor: pointer;
}

input.input-content {
    width: 100%;
    line-height: 35px;
    border-radius: 4px #fb5533;
}

.header__navbar--input{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.input-search-icon{
    position: absolute;
    right: 0;
    padding: 10px 20px;
    background-color: #fb5533;
    margin-right: 5px;
    color: #f7f7f7;
    font-weight: 200;
    font-size: 14px;
}

.header__input-menu a{
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: #f7f7f7;
}

.header__input-menu {
    margin-top:15px;
}



/* container */

.container .container__banner{
    display: flex;
    width: 1200px;
    padding: 30px 15px;
    height: auto;
}

.container .container__banner-1 img{
    height: 248px;
    width: 800px;
    cursor: pointer;
}

.container .container__banner-2 img{
    width: 100%;
    flex: 1;
    padding-left: 5px;
    height: 122.5px;
    cursor: pointer;
}

.container__banner-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container__banner-item-icon img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.container__banner-item-icon{
    height: auto;
    width: 100px;
    cursor: pointer;
}

.container__banner-item-icon:hover{
    animation: fadeUp ease 1s;
}

.container__banner-item-icon p{
    font-size: 12px;
    font-weight: 500;
}

.container__banner-4{
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
}



@keyframes fadeIn {
    from { 
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fadeUp{
    from{
        transform: translateY(0);
    } to{
        transform: translateY(-25%);
    }
}